//Colors
$primary: #77B900;
$white: white;
$light-grey: #EBEBEB;
$medium-grey: #AFAFAF;
$darkish-grey: #646464;
$dark-grey: #383838;
$black: black;
$warning: red;

$padding-s: 8px;
$padding-m: 15px;
$padding-l: 30px;
$padding-xl: 60px;

$letter-spacing: 1px;
