@import "variables";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input {
	position: relative;
	z-index: 1;
	display: block;
	margin-bottom: $padding-l;
	// max-width: 400px;
	width: 100%;
	vertical-align: top;
	font-size: 20px;
	line-height: 1;
}

.input input::-webkit-input-placeholder { /* WebKit browsers */
		color: transparent;
}
.input--focus input::-webkit-input-placeholder { /* WebKit browsers */
		color: $darkish-grey;
}
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
// 	 color: transparent;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
// 	 color: transparent;
// }
// :-ms-input-placeholder { /* Internet Explorer 10+ */
// 	 color: transparent;
// }

.half {
	width: 50%;
	display: inline-block;
}

.with-extra {
	width: calc(80% - 15px);
	margin-right: $padding-m;
}

.extra {
	width: 20%;
}

.multi {
	display: flex;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 2px;
	background: #f0f0f0;
	color: $black;
	font-weight: bold;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: $black;
	font-weight: 400;
	font-size: 0.85em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}


/* Individual styles */

/* Juro */
.input--juro {
	overflow: hidden;
}

.input__field--juro {
	position: absolute;
	z-index: 100;
	padding: 1.9em 1em 0;
	width: 100%;
	background: transparent;
	font-size: 0.85em;
}

.input__label--juro {
	padding: 0;
	width: 100%;
	height: 100%;
	background: $white;
	text-align: left;
}

.input__label-content--juro {
	padding: 2em 1em;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;

	text-rendering: geometricPrecision;
}

.input__label--juro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid $light-grey;
	border-radius: $border-radius-s;
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
}

.select--style {
    border: 0px;
    overflow: hidden;
		font-size: 0.85em;
    background: $white url("../img/icon-select.svg") no-repeat 100% 50%;
		border: 1px solid $light-grey;
}

.select--style select {
		color: $dark-grey;
		font-weight: bold;
		padding: 2em 1em;
    width: 100%;
    border: none;
		line-height: 1;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select--style select:focus {
    outline: none;
}

.input__field--juro:focus + .input__label--juro::before, .input--focus {
	border-color: $black;
}
.input--filled .input__label--juro::before, .input--filled {
	border-color: $primary;
}

.input--filled--empty .input__label--juro::before, .input--filled--empty {
	border-color: $warning;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
	// -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
	transform: $label-transform-to;
	color: $dark-grey;
}

.input--filled--empty .input__label--juro .input__label-content--juro {
	// -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
	transform: $label-transform-from;
	color: $warning;
}

.radio {
	// display: inline-block;

}
