// Utilities
@import "variables";
@import "fonts";

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    background: $light-grey;
    margin: 0 auto;
    color: $black;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font: 100% / 1.5 "HTWBerlin", Helvetica, sans-serif !important;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern"
}

h1, h2, h3 {
	font-weight: 600;
	// font-size: 31px;
  margin: -10px 0px 21px 0px;
  // display: inline-block;
}

h1 {
  margin-left: 68px;
  margin-bottom: $padding-l;
}

.number {
  font-size: 2em;
  line-height: 1.3;
  margin-left: 13px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation {
  position: fixed;
  top: 40px;
  left: calc( 50% - 600px - 150px );
  width: 200px;
  min-height: 300px;
  background: white;
  padding: $padding-m;
  border-radius: $border-radius-s;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {

}

.container {
  background: $white;
	margin: 40px auto;
  border-radius: $border-radius;
	width: 1000px;
	overflow: hidden;
  padding: $padding-l;
}

.sticky + .content {
  padding-top: 30px;
}

.sticky {
  z-index: 500;
  background: $white;
  padding: $padding-m 0px 0px 0px;
  width: 900px;
}
#navbar div {
  visibility: hidden;
  height: 0px;
  margin-top: -15px;
}
#navbar h2 {
  margin-bottom: 0px;
}
#navbar section {
  height: 41px;
}
.sticky div {
  visibility: visible!important;
  height: auto!important;
  margin-top: 0px!important;
}

.content {
	// padding: $padding-m;
  margin-top: $padding-l;
  grid-template-columns: $grid auto $grid;
  display: grid;
}

section {
  border-left: $padding-xs solid $black;
  padding-left: $padding-m;
  padding-top: 0.05px;//$padding-m;
}



@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}
