// Utilities
@import "variables";
@import "fonts";

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    margin: 0 auto;
    color: $black;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font: $font-size "HTWBerlin", Helvetica, sans-serif !important;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    background-image: url("../img/bg-confetti.png");
    background-size: 100%;
    background-attachment: fixed;
}

.lean {
  margin: 0px!important;
  padding: 0px!important;
}

p {
  margin: 0px;
}

h1, h2, h3 {
	font-weight: 600;
	// font-size: 31px;
  margin: -10px 0px 21px 0px;
  // display: inline-block;
}

h1 {
  margin-left: 68px;
  margin-bottom: $padding-l;
}

.number {
  font-size: 2em;
  line-height: 1.3;
  margin-left: 13px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation {
  position: fixed;
  top: 40px;
  left: calc( 50% - 650px - 150px );
  width: 250px;
  // min-height: 300px;
  background: white;
  padding: $padding-l;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.navigation h3{
  margin-bottom: $padding-s;
}

.navigation li {
  position: relative;
}
.navigation li:before {
  content: " ";
  width: 7px;
  height: 7px;
  background-color: $medium-grey;
  border-radius: 100%;
  position: absolute;
  top: 10px;
}
.navigation a {
  padding-left: 12px;
}

a {
	text-decoration: none;
	outline: none;
  color: inherit;
}

a:hover, a:focus {

}

.container {
  background: $white;
	margin: 40px auto;
	width: 1000px;
	overflow: hidden;
  padding: $padding-l;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.sticky + .content {
  padding-top: 30px;
}

.sticky {
  z-index: 500;
  background: $white;
  padding: $padding-m 0px 0px 0px;
  width: 900px;
}
#navbar div {
  visibility: hidden;
  height: 0px;
  margin-top: -15px;
}
#navbar h2 {
  margin-bottom: 0px;
}
#navbar section {
  height: 41px;
}
.sticky div {
  visibility: visible!important;
  height: auto!important;
  margin-top: 0px!important;
}

.content {
	// padding: $padding-m;
  margin-top: $padding-l;
  grid-template-columns: $grid auto $grid;
  display: grid;
}
.contentheader {
	// padding: $padding-m;
  margin-top: $padding-l;
  grid-template-columns: $grid auto $grid;
  display: grid;
}

li {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}

.active section {
  border-color: $primary;
}
.active h2 {
  color: $primary;
  font-weight: bold;
}
li.active{
    color: black;
    font-weight: bold;
}
.done {
  color: $primary;
}

.navitems{
  cursor: pointer;
}

section {
  border-left: $padding-xs solid $black;
  padding-left: $padding-m;
  padding-top: 0.05px;//$padding-m;
}

.content section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
}

.explanation {
  margin-bottom: $padding-m;
  p{
  font-weight: bold;

  }
}

.textlink {
  font-weight: bold;
}
.textlink:after {
    content: "";
    display: inline-block;
    background: url("../img/icon-link.svg") no-repeat;
    background-position: left 3px top;
    width: 22px;
    height: 13px;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}


// ARCHIVE VERSION
@media print {
 /* All your print styles go here */
 *{
   color: black !important;
   float:none !important;
 }
 body {
   background-color: white !important;
 }
 .navigation {
   display: none !important;
 }
 .active{
   border-color: black !important;
 }
 .input__label-content {
 	// -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
 	transform: $label-transform-to !important;
 }
 .half {
   width: 100%;
 }
 .input, .input__field--juro, .input__label--juro::before {
   border: none !important;
 }
 .content section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: $padding-m;
   page-break-inside: avoid;
 }
 h2{
   page-break-before: always;
   // break-before: always;
 }
}





.autocomplete-items {
  position: absolute;
  border: 2px solid $light-grey;
  border-radius: $border-radius-s;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 250px;
  color: $dark-grey;
  overflow: scroll;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: $border-radius-s;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: $light-grey;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: $blue !important;
  color: #ffffff;
}
