// Utilities
@import "variables";
@import "fonts";

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    background: $light-grey;
    margin: 0 auto;
    color: $black;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font: 100% / 1.5 "HTWBerlin", Helvetica, sans-serif !important;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern"
}

h1, h2, h3 {
	font-weight: 600;
	// font-size: 31px;
  margin: -10px 0px 0px 0px;
  // display: inline-block;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {

}

.container {
  background: $white;
	margin: 40px auto;
  border-radius: $border-radius;
	width: 890px;
	overflow: hidden;
  padding: $padding-l;
}

.content {
	// padding: $padding-m;
  margin-top: $padding-l;
  grid-template-columns: 50px auto 50px;
  display: grid;
}

section {
  border-left: $padding-s solid $black;
  padding-left: $padding-m;
  margin-top: $padding-m;
}



@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}
